@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.woff) format("woff"), url(../fonts/OpenSans-Bold.woff2) format("woff2"), url(../fonts/OpenSans-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.woff) format("woff"), url(../fonts/OpenSans-Regular.woff2) format("woff2"), url(../fonts/OpenSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* ==Common== */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  min-width: 320px;
}

.header, .footer {
  position: relative;
  background-image: url("../images/football_767.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #0a0e34;
  color: #ffffff;
}

.header::before, footer::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0a0e34;
  opacity: 0.9;
}

.header-container, .footer-container {
  position: relative;
  box-sizing: border-box;
  max-width: 320px;
  padding: 32px 20px 84px;
  margin-left: auto;
  margin-right: auto;
}

/* ==Header== */

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 130px;
  width: 133px;
}

.site-title {
  margin-bottom: 85px;
  font-size: 28px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.site-title-sentence {
  display: block;
}

.site-title-sentence:last-of-type {
  margin-top: 15px;
  margin-left: 45px;
  line-height: 32px;
}

.buttons {
  margin-left: auto;
  margin-right: auto;
}

.app-button {
  box-sizing: border-box;
  display: flex;
  padding-left: 80px;
  align-items: center;
  height: 35px;
  border-radius: 17px;
  background-color: #5e42b0;
  font-size: 8px;
  letter-spacing: 0.5px;
  color: #ffffff;
  text-transform: uppercase;
}

.apple-button::before, .google-button::before {
  content: "";
  display: block;
  flex: none;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background-image: url("../svg/apple_logo_black.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.google-button::before {
  background-image: url("../svg/google-play.svg");
}

.store-description {
  flex: none;
}

.store-invitation, .store-name {
  display: block;
}

.store-name {
  font-weight: bold;
}

.app-button:nth-of-type(n+2) {
  margin-top: 14px;
}

/* ==Athlets and Players== */

.section {
  position: relative;
}

.section-athlets::before {
  content: "";
  position: absolute;
  top: 70px;
  left: calc(50% - 96px);
  width: 192px;
  height: 281px;
  background-image: url("../images/footballer_192.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.section-players::before {
  content: "";
  position: absolute;
  top: 70px;
  left: calc(50% - 151px);
  width: 302px;
  height: 248px;
  background-image: url("../images/basketballer_302.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.section-header-320 {
  margin: 10px auto 225px 20px;
  max-width: 320px;
  font-size: 50px;
  color: #e7e7e7;
  font-weight: 700;
  text-transform: uppercase;
}

.section-header {
  display: none;
}

.advice:first-of-type {
  background-color: #fafafa;
}

.advice:nth-of-type(2) {
  background-color: #f5f4f9;
}

.advice-blue {
  background-color: #5e42b0;
  color: #ffffff;
}

.advice-blue .advice-number {
  border-color: #ffffff;
}

.advice-dark {
  background-color: #090c35;
  color: #ffffff;
}

.advice-dark .advice-number {
  color: #8765dd;
  border-color: #ffffff;
}

.advice-container {
  box-sizing: border-box;
  padding: 50px 20px 50px;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.section .advice:first-of-type .advice-container {
  padding-top: 80px;
}

.advice-number {
  margin-right: 10px;
  vertical-align: 0.5em;
  font-size: 0.6em;
  letter-spacing: 1px;
  color: #000000;
  font-weight: 700;
  border-bottom: 4px solid #5e42b0;
  border-radius: 1px;
}

.advice-header {
  margin-bottom: 20px;
  font-size: 23px;
  letter-spacing: 1px;
  color: #c1c1c1;
  font-weight: 700;
  text-transform: uppercase;
}

.advice-content {
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 18px;
}

/* ==Active, Contact, Work== */

.card-image {
  position: relative;
  height: 350px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.card-image-active {
  background-image: url("../images/be-active_640.jpg");
}

.card-image-contact {
  background-image: url("../images/find-contact_640.jpg");
}

.card-image-work {
  background-image: url("../images/work-it_640.jpg");
}

.card-content-container {
  position: relative;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 20px 75px;
}

.card-number-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 20px;
  top: -58px;
  width: 70px;
  height: 70px;
  background-color: #5e42b0;
}

.card-number {
  font-size: 14px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 700;
  border-bottom: 4px solid #8f7bc8;
  border-radius: 1px;
}

.card-header {
  margin-bottom: 15px;
  font-size: 28px;
  letter-spacing: 1.5px;
  color: #e7e7e7;
}

.card-content {
  font-size: 16px;
  letter-spacing: 0.7px;
  line-height: 20px;
}

/* ==Footer== */

.footer {
  background-image: url("../images/game_767.jpg");
}

.footer-container {
  padding: 100px 20px 10px;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 75px;
  margin: 0 auto 50px;
  background-color: #6d49cb;
  border-radius: 15px;
}

.footer-logo {
  width: 60px;
  height: 50px;
}

.download-header {
  font-size: 32px;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
}

.footer-slogan {
  margin-bottom: 75px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #9b8ec1;
  font-weight: 400;
  text-transform: uppercase;
}

.footer-text-logo {
  margin-top: 80px;
  margin-bottom: 10px;
}

/* ==Media== */

@media (min-width: 641px) {
  .section-header-320 {
    display: none;
  }
  .section-header {
    display: block;
    margin-bottom: 25px;
    font-size: 80px;
    color: #e7e7e7;
    font-weight: 700;
    text-transform: uppercase;
  }
  .app-button {
    padding-left: 45px;
    height: 77px;
    width: 310px;
    border-radius: 37px;
    font-size: 14px;
  }
  .app-button:nth-of-type(n+2) {
    margin-top: 0;
  }
  .section:nth-child(even) .advice-container {
    margin-left: 0;
    padding-left: 20px;
  }
  .section:nth-child(even) .advice-container {
    margin-left: 0;
  }
  .advice-header {
    letter-spacing: 2px;
  }
  .card-header {
    font-weight: 700;
    font-size: 80px;
    letter-spacing: 0.7px;
    color: #e7e7e7;
    text-transform: uppercase;
  }
  .card-number {
    font-size: 24px;
  }
  .card-content {
    font-size: 24px;
    letter-spacing: 1.2px;
    line-height: 28px;
  }
  .logo-wrapper {
    width: 130px;
    height: 135px;
    margin: 0 auto 55px;
    background-color: #6d49cb;
    border-radius: 25px;
  }
  .download-header {
    margin-top: 110px;
    font-size: 79px;
    letter-spacing: 4.7px;
    font-weight: 700;
    text-transform: uppercase;
    white-space: normal;
  }
  .footer-slogan {
    margin-bottom: 280px;
    text-align: center;
    font-size: 36px;
    letter-spacing: 0px;
    color: #9b8ec1;
    font-weight: 400;
    text-transform: uppercase;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .header {
    background-image: url("../images/football_1280.jpg");
  }
  .header-container {
    min-width: 641px;
    max-width: 960px;
    padding-bottom: 95px;
  }
  .logo {
    margin-bottom: 160px;
    width: 205px;
  }
  .site-title {
    margin-bottom: 300px;
    padding-left: 55px;
    font-size: 64px;
    letter-spacing: 3.2px;
  }
  .site-title-sentence:last-of-type {
    margin-top: 0;
    margin-left: 110px;
    line-height: 74px;
  }
  .buttons {
    display: flex;
    justify-content: space-evenly;
    /*min-width: 641px;*/
    max-width: 960px;
  }
  .apple-button::before, .google-button::before {
    width: 45px;
    height: 45px;
    margin-right: 25px;
  }
  .store-description {
    width: auto;
    white-space: nowrap;
  }
  /* === */
  .section {
    max-width: 960px;
  }
  .section:nth-child(even) .advice-container {
    margin-left: 0;
    padding-left: 20px;
  }
  .advice-container {
    box-sizing: border-box;
    padding: 30px 20px 35px 0;
    width: 62%;
    max-width: 475px;
    margin-right: 0;
  }
  .advice-header {
    font-size: 32px;
  }
  .section-athlets::before {
    top: 90px;
    left: -150px;
    width: 497px;
    height: 699px;
    background-image: url("../images/footballer_497.png");
  }
  .section-players::before {
    top: 40px;
    left: auto;
    right: 0;
    width: 436px;
    height: 565px;
    background-image: url("../images/basketballer_436.png");
  }
  @media (max-width: 720px) {
    .section-athlets::before {
      left: -200px;
    }
    .section-players::before {
      top: 0px;
    }
  }
  .section .advice:first-of-type .advice-container {
    padding-top: 60px;
  }
  .advice-number {
    margin-right: 10px;
    vertical-align: 0.5em;
    font-size: 0.6em;
    letter-spacing: 1px;
    color: #000000;
    font-weight: 700;
    border-bottom: 4px solid #5e42b0;
    border-radius: 1px;
  }
  .advice-content {
    font-size: 16px;
    letter-spacing: 0.9px;
    line-height: 28px;
  }
  /* === */
  .card-image {
    height: 585px;
  }
  .card-image-active {
    background-image: url("../images/be-active_960.jpg");
  }
  .card-image-contact {
    background-image: url("../images/find-contact_960.jpg");
  }
  .card-image-work {
    background-image: url("../images/work-it_960.jpg");
  }
  .card-content-container {
    margin-left: 0;
    width: 100%;
    padding: 55px 25px 100px;
  }
  .card-number-wrapper {
    left: 30px;
    top: -90px;
    width: 115px;
    height: 115px;
  }
  .card-header {
    margin-bottom: 10px;
  }
  /* === */
  .footer {
    background-image: url("../images/game_1280.jpg");
  }
  .footer-container {
    min-width: 641px;
    max-width: 960px;
    padding: 130px 20px 10px;
  }
  .footer-logo {
    width: 102px;
    height: 87px;
  }
  .footer-text-logo {
    margin-top: 55px;
    margin-bottom: 10px;
  }
}

@media (min-width: 961px) {
  .header {
    background-image: url("../images/football_1920.jpg");
  }
  .header-container {
    max-width: 1920px;
    padding: 45px 180px 110px;
  }
  .logo {
    margin-bottom: 265px;
    width: 190px;
  }
  .site-title {
    margin-bottom: 215px;
    font-size: 90px;
    letter-spacing: 4.6px;
  }
  .site-title-sentence:first-of-type {
    white-space: nowrap;
  }
  .site-title-sentence:last-of-type {
    margin-top: -15px;
    padding-left: 26%;
    line-height: 86px;
  }
  .buttons {
    display: flex;
    justify-content: center;
    max-width: 1280px;
  }
  .app-button:nth-child(even) {
    margin-left: 25px;
  }
  .app-button:nth-child(odd) {
    margin-right: 25px;
  }
  .apple-button::before, .google-button::before {
    width: 50px;
    height: 50px;
    margin-right: 25px;
  }
  /* === */
  .section-players {
    overflow-x: hidden;
  }
  .advice-wrapper {
    box-sizing: border-box;
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
  }
  .section:nth-child(even) .advice-wrapper {
    padding-left: 160px;
  }
  .advice-container {
    padding: 50px 20px 50px 0;
    max-width: 48%;
    margin-right: 0;
  }
  .section-header {
    margin-bottom: 75px;
    position: relative;
  }
  .section-athlets .section-header::before {
    content: "";
    position: absolute;
    top: -60px;
    left: -615px;
    z-index: 1;
    width: 566px;
    height: 908px;
    background-image: url("../images/footballer_566.png");
    background-repeat: no-repeat;
    background-position: center center;
  }
  .section-players .section-header::before {
    content: "";
    position: absolute;
    top: -70px;
    left: 615px;
    overflow-block: hidden;
    width: 991px;
    height: 815px;
    background-image: url("../images/basketballer_991.png");
    background-repeat: no-repeat;
    background-position: center center;
  }
  @media (max-width: 1665px) {
    .section-players .section-header::before {
      left: 350px;
    }
  }
  @media (max-width: 1400px) {
    .section-players .section-header::before {
      top: -90px;
      left: 250px;
    }
  }
  .advice-header {
    font-size: 36px;
  }
  .section-athlets::before {
    display: none;
  }
  .section-players::before {
    display: none;
  }
  .section .advice:first-of-type .advice-container {
    padding-top: 90px;
  }
  .advice-number {
    vertical-align: 0.5em;
    font-size: 0.55em;
  }
  .advice-content {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px;
  }
  /* === */
  .card {
    display: flex;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
  .card:nth-child(even) {
    flex-direction: row-reverse;
  }
  .card-image {
    width: 50%;
    height: 730px;
  }
  .card-image-active {
    background-image: url("../images/be-active_1024.jpg");
  }
  .card-image-contact {
    background-image: url("../images/find-contact_1024.jpg");
  }
  .card-image-work {
    background-image: url("../images/work-it_1024.jpg");
  }
  .card-content-container {
    width: 50%;
    padding-left: 120px;
    padding-top: 235px;
  }
  .card:nth-child(even) .card-content-container {
    padding-left: 175px;
  }
  .card:nth-child(even) .card-header {
    margin-bottom: 50px;
  }
  .card-number-wrapper {
    left: -80px;
    top: 210px;
    width: 165px;
    height: 155px;
  }
  .card:nth-child(even) .card-number-wrapper {
    left: auto;
    right: -80px;
  }
  .card-header {
    margin-bottom: 85px;
  }
  /* === */
  .footer {
    background-image: url("../images/game_1920.jpg");
  }
  .footer-container {
    padding: 230px 20px 10px;
    max-width: 1920px;
  }
  .footer-logo-slogan {
    display: flex;
    justify-content: center;
    margin-bottom: 155px;
  }
  .footer-headline-slogan {
    margin-left: 30px;
  }
  .logo-wrapper {
    margin: 0;
  }
  .footer-logo {
    width: 102px;
    height: 87px;
  }
  .download-header {
    margin-top: 0;
  }
  .footer-slogan {
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 30px;
    line-height: 0;
    text-align: start;
  }
  .footer-text-logo {
    margin-top: 265px;
    margin-bottom: 40px;
  }
}