@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;

  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

.header,
.footer {
  position: relative;

  color: #ffffff;

  background-image: url("../images/football_767.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #0a0e34;
}

.header::before,
.footer::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: #0a0e34;
  opacity: 0.9;
}

.header-container,
.footer-container {
  position: relative;
  
  box-sizing: border-box;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 32px 20px 84px;
}

.logo {
  display: block;
  width: 133px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 128px;
}

.site-title {
  margin-bottom: 85px;

  font-size: 28px;
  letter-spacing: 1px;

  text-transform: uppercase;
}

.site-title-sentence {
  display: block;
}

.site-title-sentence:last-of-type {
  margin-top: 15px;
  margin-left: 45px;

  line-height: 32px;
}

.buttons {
  margin-left: auto;
  margin-right: auto;
}

.app-button {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 35px;
  padding-left: 80px;

  font-size: 8px;
  
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 17px;
  background-color: #5e42b0;
}

.apple-button::before,
.google-button::before {
  content: "";
  display: block;
  flex: none;
  width: 24px;
  height: 24px;
  margin-right: 8px;

  background-image: url("../svg/apple_logo_black.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.google-button::before {
  background-image: url("../svg/google-play.svg");
}

.store-invitation,
.store-name {
  display: block;
}

.store-name {
  font-weight: bold;
}

.buttons a:nth-of-type(n+2) .app-button {
  margin-top: 14px;
}

.section {
  position: relative;

  padding-top: 305px;

  counter-reset: advice;
}

.section-athlets::before {
  content: "";
  position: absolute;
  top: 80px;
  left: calc(50% - 90px);

  width: 192px;
  height: 281px;

  background-image: url("../images/footballer_192.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.section-players::before {
  content: "";
  position: absolute;
  top: 80px;
  left: calc(50% - 151px);

  width: 302px;
  height: 248px;

  background-image: url("../images/basketballer_302.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.advice:first-of-type {
  background-color: #fafafa;
}

.advice:nth-of-type(2) {
  background-color: #f5f4f9;
}

.advice-blue {
  color: #ffffff;
  background-color: #5e42b0;
}

.advice-blue .advice-header::before {
  border-color: #ffffff;
}

.advice-dark {
  color: #ffffff;
  background-color: #090c35;
}

.advice-dark .advice-header::before {
  color: #8765dd;
  border-color: #ffffff;
}

.advice-container {
  box-sizing: border-box;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding: 55px 20px 50px;
}

.section-header {
  position: absolute;
  top: 10px;
  left: 20px;

  max-width: 320px;

  font-size: 50px;
  font-weight: 700;

  color: #e7e7e7;
  text-transform: uppercase;
}

.section .advice:first-of-type .advice-container {
  padding-top: 78px;
}

.advice-header {
  margin-bottom: 18px;

  font-size: 23px;
  letter-spacing: 1px;
  font-weight: 700;

  color: #c1c1c1;
  text-transform: uppercase;
}

.advice-header::before {
  counter-increment: advice;
  content: counter(advice, decimal-leading-zero);

  margin-right: 10px;

  vertical-align: 0.5em;
  font-size: 0.6em;
  font-weight: 700;
  letter-spacing: 1px;

  color: #000000;
  border-bottom: 4px solid #5e42b0;
  border-radius: 1px;
}

.advice-content {
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 18px;
}

.cards {
  counter-reset: card;
}

.card-image {
  position: relative;

  height: 350px;

  background-color: #bbbbbb;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content-container {
  position: relative;

  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 20px 75px;
}

.card:last-of-type .card-content-container {
  padding-bottom: 70px;
}

.card-number-wrapper {
  position: absolute;
  top: -58px;
  left: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;

  background-color: #5e42b0;
}

.card-number-wrapper::before {
  counter-increment: card;
  content: counter(card, decimal-leading-zero);

  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 700;
  
  color: #ffffff;
  border-bottom: 4px solid #8f7bc8;
  border-radius: 1px;
}

.card-header {
  margin-bottom: 13px;

  font-size: 28px;
  letter-spacing: 1px;

  color: #e7e7e7;
  text-transform: uppercase;
}

.card-content {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 20px;
}

.footer {
  background-image: url("../images/game_767.jpg");
}

.footer-container {
  padding: 100px 20px 10px;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 75px;
  margin: 0 auto 45px;

  border-radius: 15px;
  background-color: #6d49cb;
}

.footer-logo {
  width: 60px;
  height: 50px;
}

.download-header {
  font-size: 32px;
  letter-spacing: 2px;
  font-weight: 700;

  text-transform: uppercase;
  white-space: nowrap;
}

.footer-slogan {
  margin-bottom: 75px;

  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;

  color: #9b8ec1;
  text-transform: uppercase;
}

.footer-text-logo {
  margin-top: 80px;
  margin-bottom: 10px;
}

@media (min-width: 641px) {
  .section {
    padding-top: 0;
  }

  .section-header {
    position: relative;
    top: 0;
    left: 0;

    margin-bottom: 25px;

    font-size: 80px;
  }

  .app-button {
    width: 310px;
    height: 77px;
    padding-left: 45px;

    font-size: 14px;

    border-radius: 37px;
  }

  .buttons a:nth-of-type(n+2) .app-button {
    margin-top: 0;
  }

  .section:nth-child(even) .advice-container {
    margin-left: 0;
    padding-left: 20px;
  }

  .section:nth-child(even) .advice-container {
    margin-left: 0;
  }

  .advice-header {
    letter-spacing: 2px;
  }

  .card-header {
    font-weight: 700;
    font-size: 80px;

    color: #e7e7e7;
    text-transform: uppercase;
  }

  .card-number-wrapper::before {
    font-size: 24px;
  }

  .card-content {
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 28px;
  }

  .logo-wrapper {
    width: 130px;
    height: 135px;
    margin: 0 auto 55px;

    background-color: #6d49cb;
    border-radius: 25px;
  }

  .download-header {
    margin-top: 65px;

    font-size: 79px;
    letter-spacing: 5px;
    font-weight: 700;

    text-transform: uppercase;
    white-space: normal;
  }

  .footer-slogan {
    margin-bottom: 280px;

    font-size: 36px;
    letter-spacing: 0;
    font-weight: 400;

    color: #9b8ec1;
    text-align: center;
    text-transform: uppercase;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .header {
    background-image: url("../images/football_1280.jpg");
  }

  .header-container {
    max-width: 960px;
    min-width: 641px;
    padding-bottom: 95px;
  }

  .logo {
    width: 205px;
    margin-bottom: 160px;
  }

  .site-title {
    margin-bottom: 300px;
    padding-left: 60px;

    font-size: 64px;
    letter-spacing: 4px;
  }

  .site-title-sentence:last-of-type {
    margin-top: 0;
    margin-left: 110px;

    line-height: 74px;
  }

  .buttons {
    display: flex;
    justify-content: space-evenly;
    max-width: 960px;
  }

  .apple-button::before,
  .google-button::before {
    width: 45px;
    height: 45px;
    margin-right: 25px;
  }

  .store-description {
    white-space: nowrap;
  }

  .section {
    max-width: 960px;
  }

  .section:nth-child(even) .advice-container {
    margin-left: 0;
    padding-left: 30px;
  }

  .section:nth-child(even) .advice:first-of-type .advice-container {
    padding-top: 65px;
  }

  .advice-container {
    box-sizing: border-box;
    width: 62%;
    max-width: 475px;
    margin-right: 0;
    padding: 35px 20px 30px 0;
  }

  .section-header {
    margin-bottom: 29px;
  }

  .advice-header {
    margin-bottom: 15px;

    font-size: 32px;
  }

  .section-athlets::before {
    top: 90px;
    left: -160px;

    width: 497px;
    height: 699px;

    background-image: url("../images/footballer_497.png");
  }

  .section-players::before {
    top: 40px;
    left: auto;
    right: 0;

    width: 436px;
    height: 565px;

    background-image: url("../images/basketballer_436.png");
  }

  @media (max-width: 720px) {
    .section-athlets::before {
      left: -200px;
    }

    .section-players::before {
      top: 0;
    }
  }

  .section .advice:first-of-type .advice-container {
    padding-top: 55px;
  }

  .advice-header::before {
    margin-right: 10px;

    font-size: 0.6em;
    letter-spacing: 1px;
    font-weight: 700;
    
    vertical-align: 0.5em;
    color: #000000;
    border-bottom: 4px solid #5e42b0;
    border-radius: 1px;
  }

  .advice-content {
    font-size: 16px;
    letter-spacing: 1px;

    line-height: 28px;
  }

  .card-image {
    height: 585px;
  }

  .card-content-container {
    width: 100%;
    margin-left: 0;
    padding: 58px 25px 101px;
  }

  .card-number-wrapper {
    left: 30px;
    top: -90px;

    width: 115px;
    height: 115px;
  }

  .card-header {
    margin-bottom: 10px;
  }

  .card:last-of-type .card-content-container {
    padding-bottom: 110px;
  }

  .footer {
    background-image: url("../images/game_1280.jpg");
  }

  .footer-container {
    min-width: 641px;
    max-width: 960px;
    padding: 130px 20px 10px;
  }

  .footer-logo {
    width: 102px;
    height: 87px;
  }

  .download-header {
    text-align: center;
    line-height: 85px;
  }

  .footer-text-logo {
    margin-top: 55px;
    margin-bottom: 10px;
  }
}

@media (min-width: 961px) {
  .header {
    background-image: url("../images/football_1920.jpg");
  }
  
  .header-container {
    max-width: 1920px;
    padding: 45px 180px 110px;
  }

  .logo {
    margin-bottom: 265px;
    width: 190px;
  }

  .site-title {
    margin-bottom: 217px;

    font-size: 90px;
    letter-spacing: 5px;
  }

  .site-title-sentence:first-of-type {
    white-space: nowrap;
  }

  .site-title-sentence:last-of-type {
    margin-top: -15px;
    padding-left: 26%;

    line-height: 86px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    max-width: 1280px;
  }

  .button-link:nth-child(odd) {
    margin-right: 25px;
  }

  .button-link:nth-child(even) {
    margin-left: 25px;
  }

  .apple-button::before,
  .google-button::before {
    width: 50px;
    height: 50px;
    margin-right: 25px;
  }

  .section:nth-child(even) .advice:first-of-type .advice-container {
    padding-top: 95px;
  }

  .section:nth-child(even) .advice:nth-child(even) .advice-header {
    margin-bottom: 25px;
  }

  .section:nth-child(even) .advice:nth-child(even) .advice-content {
    margin-bottom: 30px;
  }

  .section-players {
    overflow: hidden;
  }

  .advice-wrapper {
    box-sizing: border-box;
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
  }

  .section:nth-child(even) .advice-wrapper {
    padding-left: 170px;
  }

  .advice-container {
    max-width: 48%;
    margin-right: 0;
    padding: 50px 20px 50px 0;
  }

  .section-header {
    position: relative;
    margin-bottom: 72px;
  }

  .section-athlets .section-header::before {
    content: "";
    position: absolute;
    top: -60px;
    left: -615px;
    z-index: 1;

    width: 566px;
    height: 908px;

    background-image: url("../images/footballer_566.png");
    background-repeat: no-repeat;
    background-position: center center;
  }

  .section-players .section-header::before {
    content: "";
    position: absolute;
    top: -70px;
    left: 615px;

    width: 991px;
    height: 815px;

    background-image: url("../images/basketballer_991.png");
    background-repeat: no-repeat;
    background-position: center center;
  }

  @media (max-width: 1665px) {
    .section-players .section-header::before {
      left: 350px;
    }
  }

  @media (max-width: 1400px) {
    .section-players .section-header::before {
      top: -90px;
      left: 250px;
    }
  }

  .advice-container {
    padding-left: 9px;
  }

  .advice-header {
    margin-bottom: 16px;

    font-size: 36px;
  }

  .section-athlets::before {
    display: none;
  }

  .section-players::before {
    display: none;
  }

  .section .advice:first-of-type .advice-container {
    padding-top: 90px;
  }

  .advice-header::before {
    font-size: 0.55em;

    vertical-align: 0.5em;
  }

  .advice-content {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px;
  }

  .card {
    display: flex;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }

  .card:nth-child(even) {
    flex-direction: row-reverse;
  }

  .card-image {
    width: 50%;
    height: 730px;
  }

  .card-content-container {
    width: 50%;
    padding-top: 235px;
    padding-left: 120px;
  }

  .card:nth-child(even) .card-content-container {
    padding-left: 9%;
  }

  .card:nth-child(even) .card-header {
    margin-bottom: 50px;
  }

  @media (max-width: 1700px) {
    .card:nth-child(even) .card-header {
      padding-right: 90px;
    }
  }

  .card-number-wrapper {
    left: -80px;
    top: 210px;

    width: 165px;
    height: 155px;
  }

  .card:nth-child(even) .card-number-wrapper {
    left: auto;
    right: -80px;
  }

  .card-header {
    margin-bottom: 85px;
  }

  .footer {
    background-image: url("../images/game_1920.jpg");
  }

  .footer-container {
    max-width: 1920px;
    padding: 230px 20px 10px;
  }

  .footer-logo-slogan {
    display: flex;
    justify-content: center;
    margin-bottom: 155px;
  }

  .footer-headline-slogan {
    margin-left: 33px;
  }

  .logo-wrapper {
    margin: 0;
  }

  .footer-logo {
    width: 102px;
    height: 87px;
  }

  .download-header {
    margin-top: -7px;
  }

  .footer-slogan {
    margin-bottom: 0;
    margin-top: 10px;

    font-size: 30px;
    line-height: 0;

    text-align: start;
  }

  .footer-text-logo {
    margin-top: 260px;
    margin-bottom: 40px;
  }
}