@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Bold.woff) format("woff"), url(../fonts/OpenSans-Bold.woff2) format("woff2"), url(../fonts/OpenSans-Bold.ttf) format("truetype");
    font-weight: 700;
	font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Regular.woff) format("woff"), url(../fonts/OpenSans-Regular.woff2) format("woff2"), url(../fonts/OpenSans-Regular.ttf) format("truetype");
    font-weight: 400;
	font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

/* ==Header== */

.header {
    position: relative;
    background-image: url("../images/football_767.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #0a0e34;

    color: #ffffff;
}

.header::before {
	content: "";
	
    position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    
	background-color: #0a0e34;
	opacity: 0.6;
}

.header-container {
    position: relative;
    box-sizing: border-box;
    max-width: 320px;
    padding: 32px 20px 84px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 136px;
    width: 133px;

    fill: #ffffff;
}

.site-title {
    margin-bottom: 86px;

    font-size: 28px;
    line-height: 31px;
    text-transform: uppercase;
}

.site-title-sentence {
    display: block;
}

.site-title-sentence:last-of-type {
    margin-top: 30px;
    margin-left: 45px;
}

.app-button {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    height: 35px;

    width: 100%;
    max-width: 280px;

    border-radius: 17px;

    background-color: #5e42b0;

    font-size: 8px;
    color: #ffffff;
}

.apple-button::before, .google-button::before {
    content: "";
    display: block;
    flex: none;
    width: 24px;
    height: 24px;
    margin-right: 8px;

    background-image: url("../svg/apple_logo_black.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.google-button::before {
    background-image: url("../svg/google-play.svg");
}

.store-description {
    flex: none;
    width: 85px;
}

.store-invitation, .store-name {
    display: block;
}

.store-name {
    font-weight: bold;
}

.app-button:nth-of-type(n + 2) {
    margin-top: 14px;
}

/* ==Athlets== */

.section {
    position: relative;
    box-sizing: border-box;
}

.section::before {
    content: "";
    position: absolute;
    top: 80px;
    left: calc(50% - 96px);
    width: 192px;
    height: 281px;
    background-image: url("../images/footballer_192.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.section-header {
    margin: 25px 20px 240px;

    box-sizing: border-box;
    padding: 0 20px;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;

    font-size: 50px;
    color: #e7e7e7;
    font-family: "Open Sans";
    font-weight: 700;
    text-transform: uppercase;
}

.advice:first-of-type {
    padding-top: 80px;
    background-color: #fafafa;
}

.advice:nth-of-type(2) {
    background-color: #f5f4f9;
}

.advice-blue {
    background-color: #5e42b0;
    color: #ffffff;
}

.advice-blue .advice-number {
    border-color: #ffffff;
}

.advice-container {
    box-sizing: border-box;
    padding: 60px 20px 50px;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

.advice-number {
    margin-right: 10px;

    vertical-align: 0.5em;
    font-size: 0.6em;
    letter-spacing: 1px;
    color: #000000;
    font-family: "Open Sans";
    font-weight: 700;
    border-bottom: 4px solid #5e42b0;
    border-radius: 1px;
}

/*.advice-number::after {
    content: "";
    display: block;
    width: 15px;
    height: 4px;
    border-radius: 1px;
    background-color: #5e42b0;
}*/

.advice-header {
    margin-bottom: 25px;

    line-height: 34px;
    font-size: 23px;
    letter-spacing: 1px;
    color: #c1c1c1;
    font-family: "Open Sans";
    font-weight: 700;
    text-transform: uppercase;
}

.advice-content {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 18px;
}